body{
    margin: 0 auto;
}

.wrapper{
    display: flex;
    min-height: 100vh;
}
.left{
    width: 50%;
    padding-top: 25vh;
    padding-left: 50vh;
}
.right{
    width: 50%;
    padding-top: 40vh;
}
a {
    text-decoration: none;
    color:black;
}